.MuiAppBar-colorDefault {
  background-color: unset !important;
}
.MuiPaper-elevation4 {
  box-shadow: unset !important;
}
.MuiTabs-flexContainer {
  justify-content: space-around;
}
.MuiTab-wrapper {
  font-weight: bold;
}

.selectionDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sourcesOuterDiv {
  padding: 30px 0 0 30px;
  border-top: 2px solid;
  border-left: 2px solid;
}

.sourcesOuterDiv > div {
  height: 8rem;
  border: 2px solid;
}
